{
  "singleQuote": true,
  "printWidth": 300,
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "quoteProps": "consistent",
  "trailingComma": "es5",
  "bracketSpacing": false,
  "arrowParens": "always",
  "endOfLine": "auto"
}